html{
    width: 100%;
    background-color: rgb(53, 52, 52);
}

#interface{
    display: flex;
    justify-content: space-around;
}

#imagens{
    display: flex;
    flex-direction: column;
    height:150px;
    width: 150px;
}

input{
    background-color: rgb(53, 52, 52);
    border: 1px solid beige;
    border-radius: 4px;
}

#botao{
    color:white;
    background-color: rgb(255, 134, 4);
    border: 1px solid black;
    border-radius: 0px;
}

#telaLogin{
    padding:10px;
    display: flex;
    justify-content:right;
}

#formularioLogin{
    border: 1px solid beige;
    border-radius: 15px;
    width:250px;
    height:250px;
}

.campoInput{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#botoes{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

a{
    color: aliceblue;
    text-decoration: none;
}